.custom_modal {
    border-radius: 25px !important;
    padding: 20px !important;
  }
  .submit_btn {
    background-color: #056dc9 !important;
    color: #fff;
    margin: 0 auto;
    align-items: center !important ;
    outline: none !important;
    border: none !important;
    width: 80% !important;
    text-align: center !important;
    border-radius: 25px !important;
    height: 40px !important;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}