.btn{
    display: flex;
    justify-content: center;
    align-items: center;        
}
.book_btn {
    background: #6A62B7;
    color: #fff;
    padding: 16px 40px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    // max-width: 300px;
}


.custom_modal .modal-content {
    border-radius: 15px;
  }
  
  
  
  .people_control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .submit_btn {
    background-color: #6A62B7;
    color: #fff;
  }


.comments_input {
    border-radius: 25px;
}